<!DOCTYPE HTML>
<html>
<head>
<title>相册</title>
<link rel="shortcut icon"  href="__PUBLIC__/images/favicon.ico" />
<link rel="Bookmark" href="__PUBLIC__/images/fivicon.ico" />
<link href="__PUBLIC__/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/css/style.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="__PUBLIC__/css/lightbox.css">

<!-- jQuery (necessary JavaScript plugins) -->
<script type='text/javascript' src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
<!-- Custom Theme files -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Titillium+Web:400,600,700,300' rel='stylesheet' type='text/css'>
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Game Spot Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  
</head>
<body>
<include file="./Application/Home/Common/header.html" />
<!---->
<div class="gallery">
	 <div class="container">
		 <h2>{$Think.lang.gallery}</h2>
		 <div class="gallery-bottom">
				<div class="gallery-1">
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/images/g2.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/images/g2.jpg" alt=""/></a>
					</div>
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/images/g1.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/images/g1.jpg" alt=""/></a>
					</div>
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/images/g3.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/images/g3.jpg" alt=""/></a>
					</div>
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/images/g4.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/images/g4.jpg" alt=""/></a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="gallery-1">
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/images/g5.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/images/g5.jpg" alt=""/></a>
					</div>
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/images/g6.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/images/g6.jpg" alt=""/></a>
					</div>
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/images/g9.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/images/g9.jpg" alt=""/></a>
					</div>
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/images/g7.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/images/g7.jpg" alt=""/></a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="gallery-1">
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/images/g4.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/images/g4.jpg" alt=""/></a>
					</div>
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/images/g7.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/images/g7.jpg" alt=""/></a>
					</div>
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/images/g5.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/images/g5.jpg" alt=""/></a>
					</div>
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/images/g8.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/images/g8.jpg" alt=""/></a>
					</div>
					<div class="clearfix"></div>
				</div>				
		 </div>
	 </div>
</div>	
<script src="__PUBLIC__/js/lightbox-plus-jquery.min.js"></script>

<!--引入footer-->
<include file="./Application/Home/Common/footer.html" />

</body>
</html>
