<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon"  href="__PUBLIC__/images/favicon.ico" />
<link rel="Bookmark" href="__PUBLIC__/images/fivicon.ico" />

	<title>贺小花的个人博客</title>

	<!--- CSS --->
	<link rel="stylesheet" href="__PUBLIC__/css/loginIn_style.css" type="text/css" />


	<!--- Javascript libraries (jQuery and Selectivizr) used for the custom checkbox --->

	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/selectivizr.js"></script>
		<noscript><link rel="stylesheet" href="__PUBLIC__/css/fallback.css" /></noscript>
	<![endif]-->

	</head>

	<body>
		<div id="container">
			<form action="{:U('Sign/signIn')}" method="post">
				<div class="login">{$Think.lang.login}</div>
				<div class="username-text">用户名：</div>
				<div class="password-text">密码：</div>
				<div class="username-field">
					<input type="text" name="user_name" placeholder="请输入用户

名" />
				</div>
				<div class="password-field">
					<input type="password" name="user_pwd" placeholder="请输入

密码" />
				</div>
				<input type="checkbox" name="remember-me" id="remember-me" /><label for="remember-me">记住密码</label>
				<div class="forgot-usr-pwd"> <a href="#">忘记用户名 </a>或者直接 <a href="{:U('Sign/signUp')}">注册新账号</a></div>
				<input type="submit" name="submit" value="GO" />
			</form>
		</div>
		<div id="footer">
			 <p>备案号：蜀ICP备16016381 <a  href="http://www.hexiaojiao.top" target="_blank" title="小花的个人博客">Copyright © 2016 hexiaojiao.top All Rights Reserved. 个人博客 版权所有</a></p>
		</div>
	</body>
</html>
