<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="__PUBLIC__/css/style.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/css/read.css" rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Titillium+Web:400,600,700,300' rel='stylesheet' type='text/css'>
<!-- jQuery (necessary JavaScript plugins) -->
</head>
<body>
<include file="./Application/Home/Common/header.html" />
<h1 id="read-head">评论列表</h1>
<div id="bod" >
<div id="read-right" style="clear:both;height:auto;overflow:hidden">
<volist name="data" id="comments">
<div class="media">
				  <div class="media-left">
					<a href="#">
					  <img class="media-object" src="{$comments.avatar}" alt="" width="60px" height="60px">
					</a>
				  </div>
				  <div class="media-body">
					<h4 class="media-heading"><a href="#">{$comments.name}</a></h4>
						<p>{$comments.message}</p>
				  </div>
				</div>

</volist>
</div>
</div>
<!--引入footer-->
<footer style="clear:both"><include file="./Application/Home/Common/footer.html" /></footer>


</body>

</html>