<!DOCTYPE HTML>
<html>
<head>
<title>Reviews</title>
<link rel="shortcut icon"  href="__PUBLIC__/images/favicon.ico" />
<link rel="Bookmark" href="__PUBLIC__/images/fivicon.ico" />
<link href="__PUBLIC__/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/css/style.css" rel='stylesheet' type='text/css' />

<!-- jQuery (necessary JavaScript plugins) -->
<script type='text/javascript' src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
<!-- Custom Theme files -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Titillium+Web:400,600,700,300' rel='stylesheet' type='text/css'>
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Game Spot Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

  
</head>
<body>
    <!--引入header文件-->
<include file="./Application/Home/Common/header.html" />
<div class="review">
	 <div class="container">
		 <h2>{$Think.lang.name}</h2>
		 <div class="review-sec">
			 <div class="review-grids">
			 <!--数据来源：SingleController-->
			 <volist name="result" id="cont">
			 <div class="col-md-6 revw">
					 <div class="rft-grid">
						 <div class="col-md-5 rft-pic">
						
							 <a href="{:U('Single/single',array('id'=>$cont['blog_id']))}"><img style="height:200px;width:200px;" src="{$cont.blog_images}" class="img-responsive" alt=""/></a>
						 </div>
						 <div class="col-md-7 rft-pic-info">
							  <h4><a href="{:U('Single/single',array('id'=>$cont['blog_id']))}">{$cont.blog_name}</a></h4>
							 <p>{$cont.blog_content|htmlspecialchars_decode|substr=0,200}</p>
						 </div>
						 <div class="clearfix"></div><br />
					 </div>
				 </div></volist>
				 
				 <div class="clearfix"></div>
			 </div>
			 
			 	 </div>
				 <div class="clearfix"></div>
			 </div>
		 </div>
	 </div>
</div>
<!--引入footer-->
<include file="./Application/Home/Common/footer.html" />
</body>
</html>
